#headerwrapper {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 1fr;
    grid-template-rows: 100px;
    grid-template-areas: 
    'hd1 hd2 hd3 hd4 hd5'
    ;
}

body {
    margin:0;
    background-image: url(/img/leaves.webp);
}

#hd1 {
    grid-area: hd1;
    background-color: #2ecc71;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#hd2 {
    grid-area: hd2;
    background-color: #2ecc71;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
}

#hd3 {
    grid-area: hd3;
    background-color: #2ecc71;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#hd4 {
    grid-area: hd4;
    background-color: #2ecc71;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#hd5 {
    grid-area: hd5;
    background-color: #2ecc71;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

a {
    text-decoration: none;
    color: black;
}

#hd1:hover, #hd2:hover, #hd3:hover, #hd4:hover, #hd5:hover {
    color: white;
    font-size: 1.8rem;
    transition: 0.3s;
}

#mainwrapper {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 300px 300px 150px;
    grid-template-areas: 
    'sc1 img1'
    'img2 sc2'
    'ft ft'
    ;
    gap: 20px;
    margin-top: 10px;
}

#sc1 {
    background-color: white;;
    grid-area: sc1;
    padding: 20px;
    border-radius: 5px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 21px;
    line-height: 1.6;
    letter-spacing: 1px;
    font-weight: 600;
}

#img1 {
    grid-area: img1;
    background-color: #2ecc71;
    padding: 5px;
    display: flex;
    border-radius: 20px;
}

#img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}


#sc2 {
    grid-area: sc2;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 21px;
    line-height: 1.6;
    letter-spacing: 1px;
    font-weight: 600;
}

#img2 {
    grid-area: img2;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    border-radius: 20px;
    background-color: #2ecc71;
}

#img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#ft {
    grid-area: ft;
    background-color: #155831;
    padding: 20px;
    border-radius: 0px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
    min-height: 200px;
}

p {
    font-size: 15px;
}

#thickp {
    font-weight: 900;
}

.liten {
    font-weight: 400;
}

