#headerwrapper {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 1fr;
    grid-template-rows: 100px;
    grid-template-areas: 
    'hd hd hd hd hd'
    ;
}

#hd {
    grid-area: hd;
    background-color: blue;
}

#mainwrapper {
    display: grid;
    grid-template-columns: 47.5% 1fr 47.5%;
    grid-template-rows: 400px 20px 400px 150px;
    grid-template-areas: 
    ''
    ;
}
